@model IEnumerable<TI_Sklep.Models.Film>

<ul>
    @foreach (var film in Model)
            {
                <li><a href="@Url.Action("Szczegoly", "Filmy", new {idFilmu = film.Id })">@film.Tytul</a></li>
            }
</ul>
