@model IEnumerable<TI_Sklep.Models.Film>

<ul>
    @foreach (var film in Model)
    {
    <a href="@Url.Action("Szczegoly" , "Filmy", new {idFilmu=film.Id })"><img src="~/content/@film.Plakat" /></a>
    }
</ul>