@model IEnumerable<TI_Sklep.Models.Kategoria>

@{
}

<header class="menu-bar">
    <div id="menu">
        @foreach (var kategoria in Model)
        {
            <a href="@Url.Action("ListaFilmow", "Filmy", new { nazwaKategorii = kategoria.Nazwa})" class="menu-link">@kategoria.Nazwa</a>
        }
        <a href="@Url.Action("Wszystkie", "Filmy", new { nazwa = "Wszystkie"})" class="menu-link">Wszystkie</a>
    </div>
</header>
