@model TI_Sklep.ViewModels.KategoriaViewModels
@{
    ViewData["Title"] = "Strona Główna";
}
<h1>Najdłuższe filmy</h1>
<table>
    <tr class="banner">
        @foreach (var film in Model.FilmyTop3Najdluszsze)
        {
            <td class="film">
                <h3>@film.Tytul</h3>
                <p>@film.Rezyser</p>
                <img src="~/content/@film.Plakat" />
                <p>@film.Dlugosc</p>
            </td>
        }
    </tr>
</table>